

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
      background-color: rgb(255, 200, 127);
      padding-left: 0%;
      column-width: auto;
 
}














